$colorText: #333;
$colorWhite: #fff;

$colorWarning: #EE5253;
$colorSuccess: #10AC84;

$colorBgHeader: linear-gradient(180deg, #EE5253 0%, #D92223 100%);
$colorBgPrimary: #fff;
$colorBgSecond: #EAEAEA;

$colorBgTransparentDark: rgba(0,0,0,.8);
