@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
  min-width: 300px;

  font-family: 'Roboto', sans-serif;

  background-color: var(--bgMain);
  color: var(--text);

  overflow-x: hidden;
}