.mainHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  z-index: 100;

  width: 100%;

  padding: 0 27px;

  height: 80px;
  background: var(--bgHeader);

  color: $colorWhite;

  #title{
    animation: showByLeft ease-in 1s;

    > h{
      font-weight: bold;
      font-size: 30px;
      line-height: 1.2;
    }
  }

  .sideRight{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    animation: showByRight ease-in 1s;

    #configs{
      display: flex;
      gap: 16px;

      .switchButton{
        > button{
          background-color: rgba(255,255,255,.1);
          border: none;
          transition: all .2s;
          
          padding: 8px;
          border-radius: 50%;
    
          &:hover{
            background-color: rgba(255,255,255,.4);
            transform: scale(1.1);
          }
          
          > img{
            width: 24px;
            height: 24px;
          }
        }
      }
    }

  
    #socialMedia{
      display: flex;
      gap: 16px;
  
  
      img{
        width: 32px;
        height: 32px;
        transition: all .2s;
      }
  
      a:hover img{
        transform: scale(1.2);
      }
    }
  }

  .openButton{
    background: var(--bgDivider);
  }

  .burgerButton{
    position: fixed;
    top: 16px;
    right: 8px;
    display: none;

    width: 50px;
    height: 50px;

    background-color: rgba(255,255,255, .2);

    border-radius: 8px;

    cursor: pointer;
    transition: all .2s;

    &:hover{
      background-color: rgba(255,255,255, .6);
    }

    #bars{
      @include barsMenuBurger;

      position: relative;
    }

    #bars:before,
    #bars:after{
      content: '';
      position: absolute;

      @include barsMenuBurger;
    }

    #bars::before{
      transform: translateY(-10px);
    }
    #bars::after{
      transform: translateY(10px);
    }
  }

  .openButton{
    #bars{
      background: transparent;
    }
  
    #bars::before{
      transform: rotate(45deg);
    }
  
    #bars::after{
      transform: rotate(-45deg);
    }
  }

  @media(max-width: $screenSmall){
    flex-direction: column;
    padding: 16px;
    overflow: hidden;
    #title{
      > h1{
        line-height: 50px;
      }
    }

    .burgerButton{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sideRight{
      flex-direction: column;
    }
  }
}

.openMenu{
  @media (max-width: $screenSmall) {
    overflow: auto;
    height: auto;
  }
}