@mixin buttonStyle {
  width: 305px;
  height: 60px;

  color: $colorWhite;

  border: none;
  border-radius: 8px;
  
  font-size: 22px;
  line-height: 1;

  transition: all .3s;

  &:hover{
    transform: scale(1.1);
  }
}

@mixin barsMenuBurger{
  width: 32px;
  height: 4px;

  background-color: $colorWhite;

  border-radius: 8px;

  transition: all .5s ease-in-out;
}