@import './colors';
@import './reset';
@import './global';

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  
  min-height: 350px;
  
  background-color: #fff;
  padding: 32px;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;

  #text{
    max-width: 400px;

    >h2{
      font-size: 30px;
      line-height: 1.2;
    }

    > h1{
      font-size: 50px;
      line-height: 1.2;
  
      margin-bottom: 16px;
    }

    > a{
      padding: 8px 16px;
  
      border-radius: 8px;
  
      font-size: 18px;
      text-decoration: none;
      color: $color-white;
  
      background-color: #EE5253;
  
      transition: .2s;
    }

    > a:hover{
      opacity: .7;
    }
  }

  #image{
    > img{
      max-width: 100%;
    }
  }
}

